:root {
  --background: #1B676B;
  --light-color: #EAFDE6;
  --fuerte-color: #88C425;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.App {
  /* width: 100vw; */
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
